@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-gradient: linear-gradient(180deg, #ffffff, #fda5a5);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-gradient: radial-gradient(at center top, #7e0202, #010101);
}

body {
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: system-ui, sans-serif;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  min-height: 100vh;
  margin: 0;
}

html {
  @apply scroll-smooth;
}